[Desktop Entry]
Version=1.0
Type=Application
Name=TempMonitor
Comment=Temperature Monitor
Path=PLACEHOLDER_PATH
Exec=PLACEHOLDER_EXEC_PATH
Icon=tempmonitor
StartupWMClass=TempMonitor
Terminal=false
Autostart=false
Categories=X-Other;
